* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
}

.fix {
    clear: both;
}

/*-------------------nav------------------*/

.menu2 {
    width: 100wv;
    height: 50px;
    background: #232323;
    position: relative;
    color: #fff;
    display: none;
}

.menu2 p {
    text-transform: uppercase;
    font-size: 14px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 10px;
}

.logo2 {
    color: #f33f3f;
}

nav {
    width: 100wv;
    height: 50px;
    background: #232323;
    color: #fff;
    display: flex;
    align-items: center;
    min-width: 325px;
    position: relative;
}

nav ul {
    width: 60%;
    margin: 0 auto;
    position: relative;
}

nav a {
    display: block;
    padding: 14px 0;
    font-size: 14px;
    text-decoration: none;
    float: right;
    margin-left: 40px;
    color: #fff;
    position: relative;
}


nav li {
    list-style-type: none;
    display: inline;
}

.logo {
    text-transform: uppercase;
    float: left;
    position: absolute;
    transform: scale(1.5);
}


.logo1 {
    color: #f33f3f;
}

nav .logo a:hover {
    color: #fff;
}

nav a::before {
    content: "";
    display: block;
    width: 0px;
    height: 2px;
    background: #f33f3f;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: width 0.2s linear;
}

nav .logo a {
    margin-left: 0px;
}

nav .logo a:before {
    content: "";
    display: inline;
}

nav a:hover::before {
    width: 100%;

}

#toggle {
    display: block;
}

label {
    margin: 0 40px 0 0;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: none;
}

/* ------------------header------------- */

header {
    background: url(../img/slide_01.jpg);
    height: 500px;
    background-size: cover;
    background-position: center;
    position: relative;
    text-transform: uppercase;
    cursor: pointer;
    min-width: 325px;
}

header::before {
    content: "best offer";
    color: #f33f3f;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header::after {
    content: "new arrivals on sale";
    color: #fff;
    font-size: 46px;
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translateX(-50%);
}

/*-----------------container-------------------*/

.container {
    width: 60%;
    height: 80vh;
    margin: 0 auto 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 40px;

}

.box {
    border: solid #F4F4F4 1px;
    border-top: none;
    display: grid;
    font-size: 14px;
    font-weight: 100;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
        "vienas vienas"
        "vienas vienas"
        "vienas vienas"
        "trys keturi"
        "penki penki";
    cursor: pointer;
}

.box:hover {
    box-shadow: 0px 1px 4px #c1c1c1;
}


.box a {
    text-decoration: none;
    color: #1C6692;
}


.vienas {
    grid-area: vienas;
    background: url(../img/product_01.jpg);
    background-position: center;
    background-size: cover;
}

.simtas {
    background: url(../img/product_02.jpg);
    background-size: cover;
    background-position: center;
    grid-area: vienas;
}

.dusimtai {
    background: url(../img/product_03.jpg);
    background-size: cover;
    background-position: center;
    grid-area: vienas;
}

.tryssimtai {
    background: url(../img/product_04.jpg);
    background-size: cover;
    background-position: center;
    grid-area: vienas;
}

.keturisimtai {
    background: url(../img/product_05.jpg);
    background-size: cover;
    background-position: center;
    grid-area: vienas;
}

.penkisimtai {
    background: url(../img/product_06.jpg);
    background-size: cover;
    background-position: center;
    grid-area: vienas;

}

.du {
    grid-area: du;
    background: #38220F;
    color: #fff;
    font-size: 15px;
    justify-self: center;
    align-self: center;
    margin-top: -18.5%;
    padding: 4% 25%;
}

.trys {
    grid-area: trys;
    padding-left: 20px;
    display: flex;
    align-self: center;
}

.box .trys:hover {
    text-decoration: underline;
}

.keturi {
    grid-area: keturi;
    display: flex;
    justify-self: flex-end;
    align-self: center;
    padding: 0 20px;
}

.penki {
    grid-area: penki;
    padding: 0 20px;
    font-size: 14px;
}

.sesi {
    grid-area: sesi;

}

.septyni {
    color: #f33f3f;
    display: flex;
    justify-self: flex-start;
    align-self: center;
    padding-left: 20px;
}

.astuoni {
    color: #f33f3f;
    display: flex;
    justify-self: flex-end;
    align-self: center;
    padding-right: 20px;
    font-size: 12px;

}

/*----------------products-------------*/

.products {
    width: 60%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 150px;
    grid-template-rows: repeat(3, 1fr);
    border-bottom: solid #F4F4F4 1px;
    margin: 10px auto;

}

.latest {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: flex;
    align-self: center;
}

.allProducts {
    font-size: 10px;
    color: #f33f3f;
    text-transform: uppercase;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    align-self: center;
    justify-self: flex-end;
    font-weight: bold;
}

.allProducts a {
    color: #f33f3f;
    text-decoration: none;
}

.allProducts a:hover {
    text-decoration: underline;
}

/*----------------------------------*/

.about {
    display: block;
    width: 60%;
    margin: 40px auto 10px auto;
    padding-bottom: 30px;
    border-bottom: solid #F4F4F4 1px;
}

/*--------------------------------------*/

.container1 {
    width: 60%;
    height: 500px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 40px;
    position: relative;
    border-bottom: solid #F4F4F4 1px;

}

.stulpelis1 {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

.stulpelis1 h3 {
    color: #1C6692;
}

.stulpelis1 ul {
    padding-left: 20px;
}

.stulpelis1 p {
    font-size: 14px;
    margin: 40px auto;
}

.stulpelis1 li {
    margin-top: 10px;
    list-style-type: square;
    font-size: 14px;
}

.stulpelis2 {
    grid-column: 3 / 5;
    grid-row: 1 / 3;
    background: url(../img/feature-image.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;

}

button {
    padding: 10px 24px;
    background: #F33F3F;
    border: none;
    border-radius: 5px;
    position: absolute;
    bottom: 60px;
    left: 40px;
    color: #fff;
    cursor: pointer;
    overflow: hidden;
}

button::before {
    content: "";
    display: block;
    width: 2px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.1);
    transition: none;
}

button:hover::before {
    width: 100%;
    transition: width 0.2s ease-in-out;
}

/*------------footer-----*/

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    text-transform: uppercase;
}

/*---------media----------*/


@media (max-width: 1024px) {
    body {
        min-width: 1150px;
    }

    header {
        min-width: 1150px;
    }

    nav ul {
        width: 90%;
    }

    .logo {
        left: 25px;
    }

}

@media (max-width: 768px) {
    body {
        min-width: 720px;
    }

    header {
        min-width: 720px;
    }

    .container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        max-width: 850px;
    }

    header {
        height: 300px;
    }


    header::after {
        content: "new arrivals on sale";
        font-size: 32px;
    }

    nav ul {
        width: 90%;
    }

    .box1 {
        max-width: 230px;
    }

    .item1,
    .item2,
    .item3,
    .item4,
    .item5,
    .item6 {
        max-width: 230px;
    }

    .logo {
        left: 25px;
    }
}



@media (max-width: 500px) {
    body {
        min-width: 420px;
    }

    header {
        height: 200px;
        min-width: 420px;
    }


    header::after {
        content: "new arrivals on sale";
        font-size: 14px;
    }


    label {
        display: block;
        cursor: pointer;
    }

    .container .box {
        min-width: 250px;
    }


    .container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }

    .container1 {
        margin-top: 500px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    nav {
        height: auto;
    }

    nav a {
        text-align: center;
        width: 100%;
        display: none;
    }

    .logo {
        display: none;
    }

    #toggle:checked + nav a {
        display: block;
    }

    .menu2 {
        display: block;
    }

    .box1 {
        max-width: 250px;
    }

    .item1,
    .item2,
    .item3,
    .item4,
    .item5,
    .item6 {
        max-width: 250px;
    }



}


































div {}
